{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About Me</h2>

<div class="card">
    <ul>
        <li>Computer Science Engineering student with strong technical foundations.</li>
        <li>Experienced in academic and practical project development.</li>
        <li>Interested in Machine Learning and intelligent systems.</li>
        <li>Actively improving UI/UX and frontend design skills.</li>
        <li>Passionate about continuous learning and innovation.</li>
    </ul>
</div>
{% endblock %}
