{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-hero">
    <img src="/static/images/profile.jpg" class="profile-pic">

    <h1>Hello, I'm Nandana S</h1>
    <h3>Computer Science Engineering Student</h3>

    <div class="card">
        <p>
            I am a Computer Science Engineering student passionate about building
            creative and user-friendly web applications.
        </p>
        <p>
            My interests include Web Development, Machine Learning, and designing
            visually appealing UI/UX experiences.
        </p>
    </div>
</div>
{% endblock %}
